/* Tablet */
@media (min-width: 1200px) {
    .projects__card-tablets .projects__card-image {
        width: 520px;
    }

    .projects__card-tablets .projects__card-title {
        font-size: 30px;
    }

    .projects__card-tablets .projects__card-subtitle {
        font-size: 20px;
    }

}

@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
}

/* Mobile */
@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    .timeline__item:nth-child(even) {
        margin-left: 0;
    }

    .timeline__item::before {
        right: auto;
        left: 0;
    }

    .timeline__item:nth-child(even)::before {
        left: 0;
    }

    .timeline__item::after {
        right: auto;
        left: 0;
        left: 15px;
    }

    .timeline__item:nth-child(even)::after {
        left: 15px;
    }

    .timeline__item {
        padding-right: 0;
        padding-left: 36px;
        padding-bottom: 40px;
        text-align: left;
    }
}

/* Mobile XS */
@media (max-width: 599px) {
    .container {
        width: 320px;
    }
}