.contacts {
    padding-top: 70px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;

    // Tablet Big
    @media (max-width: 1139px) {
        padding-top: 40px;
        padding-bottom: 70px;
    }
}

.contacts__title-2 {
    text-align: center;
    margin-bottom: 60px;

    // Tablet Big
    @media (max-width: 1139px) {
        margin-bottom: 40px;
    }

    // Mobile 
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.contacts__wrapper {
    display: flex;
    gap: 70px;
    margin-bottom: 32px;

    // Tablet Big
    @media (max-width: 1139px) {
        margin-bottom: 25px;
    }

    // Mobile 
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        gap: 10px;
    }

}


.contacts__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6;
    min-width: 110px;

    // Tablet Big
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    // Mobile 
    @media (max-width: 767px) {
        font-size: 16px;
    }

}


.contacts__text {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    min-width: 420px;

    // Tablet Big
    @media (max-width: 1139px) {
        font-size: 16px;
    }

    // Mobile 
    @media (max-width: 767px) {
        min-width: auto;
        font-size: 14px;
    }


}

.contacts__text img {
    position: absolute;
    max-width: 280px;
    bottom: -60px;
    right: -66px;

    // Tablet Big
    @media (max-width: 1139px) {
        right: 13px;
    }

    // Mobile 
    @media (max-width: 767px) {
        display: none;


    }
}


.contacts__links-wrapper {
    display: flex;
    column-gap: 80px;
    margin-top: 6px;

    // Tablet Small
    @media (max-width: 899px) {
        flex-direction: column;
        column-gap: 10px;
    }


}