.contacts {
    padding-top: 70px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}

.contacts__title-2 {
    text-align: center;
    margin-bottom: 60px;
}

.contacts__wrapper {
    display: flex;
    gap: 70px;
    margin-bottom: 32px;
}


.contacts__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6;
}


.contacts__text {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    max-width: 538px;
}

.contacts__text img {
    position: absolute;
    max-width: 280px;
    bottom: -60px;
    right: -66px;
}