.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #333333;

    // Tablet Big
    @media (max-width: 1139px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer__text {
    max-width: 825px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #B0B0B0;
    margin-bottom: 10px;

    a {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;

        text-decoration-line: underline;
        color: #FFFFFF;
    }

    // Tablet Big
    @media (max-width: 1139px) {
        font-size: 14px;
    }

    // Tablet Small
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }

}

.footer__text:last-child {
    margin-bottom: 0;
}