.header {
    padding-top: 60px;
    padding-bottom: 90px;
}

.header__nav {
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}

.header__list {
    display: flex;
    gap: 100px;
}

.header__links {
    display: flex;
    gap: 26px;
}

.header__description {
    display: flex;
    gap: 95px;
    z-index: 2
}

.header__text {
    flex-basis: 535px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    z-index: 3;
}


.header__title {
    margin-bottom: 30px;
}

.header__buttons {
    display: flex;
    gap: 20px;
}



.header__image {
    flex-basis: 475px;
    z-index: 3;
}

.header__image img {
    width: 100%;
}

.header__banner img {
    width: 100%;
    margin-top: -100px;
    z-index: 1;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__skills {}

.header__title-3 {
    margin-bottom: 30px;
}

.header__points {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
}

.header__points-item::before {
    content: '\2014';
    margin-right: 8px;
}

.header__points-item:not(last-child) {
    margin-bottom: 5px;
}

.header__socials {
    margin-bottom: 20px;
}

.header__email {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    color: #1A71D2;

    &:hover {
        color: #1A71D2;
    }
}